


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>

    <body> 
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark " style="background-color:#557A95">
            <a class=" navbar-brand" href="Home">
                Alumni Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="Home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="About">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="Login">Loged IN</a>
                    </li>   
                    

<li class="nav-item">
                        <a class="nav-link" href="Registration">Sign up</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact US</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="Index">Upcoming Events</a>
                    </li>



<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Service
                        </a>
                        <div class="dropdown-menu" id="Demo" aria-labelledby="navbarDropdown" style="background-color: #557A95">
                            <a class="dropdown-item" href="SubmitCV">Submit CV</a>
                            <a class="dropdown-item" href="Query">Query Procedure</a>
                            <a class="dropdown-item" href="CreateAd">Event or Job Posting</a>

                        </div>
                    </li>
                    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        
        
        


        <!--For space break in under navigation ---> 
        @*<div class="container body-content">
            <br />
        </div>*@ 


            @RenderBody()
            <hr />


            <script src="~/Scripts/jquery-3.5.1.js"></script>

            <script src="~/Scripts/bootstrap.js"></script>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)

     
        
        <script>
    
            
    </script>
        
</body>
</html>
