<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>

    <body> 
        <!--start of navigation-->
        <nav class="navbar navbar-expand-sm  navbar-dark fixed-top " style="background-color:#557A95">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">Alumni Portal</a>
            <div class="collapse navbar-collapse" id="Navbar">
                <!-- Links -->
                <ul class="navbar-nav ml-sm-5 ">
                    <li class="nav-item">
                        <a class="nav-link" href="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Registration">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Index">Query Procedure</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="ContactUs">Contact Us</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                        <div class="dropdown-menu"style="background-color: #557A95">
                            <a class="dropdown-item" href="Index">UpComing Events</a>
                            <a class="dropdown-item" href="CreateAd">Ad Posting</a>
                            <a class="dropdown-item" href="SubmitCV">Submit CV</a>
                        </div>
                    </li>

                </ul>
            
                </div>

</nav> <!-- End of navigation-->
        
        <!--For space break in under navigation ---> 
        @*<div class="container body-content">
            <br />
        </div>*@ 


            @RenderBody()
            <hr />


            <script src="~/Scripts/jquery-3.5.1.js"></script>

            <script src="~/Scripts/bootstrap.js"></script>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        <script>
    

    </script>
        
</body>
</html>
