@using PagedList.Mvc
@model  PagedList.IPagedList<Alumni_Student_Portal.Models.Ad_Post>

@{
    ViewBag.Title = "Ads";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<style>

</style>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View  Category</title>
    <link href="~/Content/paginition.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

@*<div style="height:1150px; ">
    <section class="breadcrumb" style="padding-top:50px">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h4>Query Procedure</h4>


                <h6>Query Procedure/ <a href="Home ">Home</a></h6>




            </div>
        </div>

    </section>


    <div class="container">
        <div class="row" style="margin-bottom:40px">



            <div class="col-lg-8 col-md-8">
                <div class="row">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-4" style="height:200px;margin-top:100px">

                                <img class="img img-responsive cimg" src="@Url.Content(item.Ad_image)" style=" height: 100%; width: 100%; border-radius: 15px 15px 15px 15px" />
                                <h4 style="color:darkblue; font-family:'Arial Rounded MT';text-align:center"> @Html.ActionLink(@item.Ad_name, "ViewAd", new { id = @item.Ad_id })</h4>

                            </div>


                        }
                    }
                </div>
            </div>








        </div>

        </div>
    </div>*@
<body style="background-color:lightgray">

    <section class="breadcrumb" style="padding-top:50px">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h4>Upcoming Events</h4>


                <h6>Upcoming Events/ <a href="Home ">Home</a></h6>




            </div>
        </div>

    </section>
    <div style="height:1150px; ">
        <!--height mention of page 1 to 11 -->




        <div class="row" style="margin-bottom:40px; margin-left:100px">



            <div class="col-lg-8 col-md-8">
                <div class="row">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-4" style="height:200px;margin-top:100px">

                                <img class="img img-responsive cimg" src="@Url.Content(item.Ad_image)" style=" height:100%;width:100% ;border-radius:50px 50px 50px 50px" />
                                <h4 style="color:darkblue; font-family:'Arial Rounded MT';text-align:center"> @Html.ActionLink(@item.Ad_name, "ViewAd", new { id = @item.Ad_id })</h4>
                                <div style="margin-left:160px">
                                    @*@Html.ActionLink("Delete", "Del", new { id = item.Ad_id }, new { @class = "btn btn-danger btn-sm" })**@
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.cat_id })*@
                                    @Html.ActionLink("Delete", "Del", new { id = item.Ad_id })
                                </div>

                            </div>

                        }
                    }
                </div>
            </div>






        </div>



    </div>



    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Ads", new { page }))
        </div>
    </div>
</body>
</html>