@model Alumni_Student_Portal.Models.tbl_Alumni

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
<div class="form-horizontal">
    <h2>Create</h2>
    <h4>Alumni Record</h4>
    <hr />
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Alumni_fullname, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Alumni_fullname)
            @Html.ValidationMessageFor(model => model.Alumni_fullname)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Alumni_Enrolmentnum, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Alumni_Enrolmentnum)
            @Html.ValidationMessageFor(model => model.Alumni_Enrolmentnum)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Alumni_email, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Alumni_email)
            @Html.ValidationMessageFor(model => model.Alumni_email)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Alumni_cellnum, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Alumni_cellnum)
            @Html.ValidationMessageFor(model => model.Alumni_cellnum)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Alumni_department, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Alumni_department)
            @Html.ValidationMessageFor(model => model.Alumni_department)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Alumni_cmsid, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Alumni_cmsid)
            @Html.ValidationMessageFor(model => model.Alumni_cmsid)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
        </div>
}

<div class="container">
    @Html.ActionLink("Back to List", "list")
</div>
