@model IEnumerable<Alumni_Student_Portal.Models.tbl_Alumni>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<i><h2>Alumni List</h2> </i>
<section class="breadcrumb" style="padding-top:50px">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h4>Information Data</h4>


            <h6>Alumni Information/ <a href="Dashboard">Dashboard</a></h6>




        </div>
    </div>

</section>
@*<p>
    <button style="color:white;" type="button" class="btn btn-success">
        
        @Html.ActionLink("Create New", "Create")
    </button>


</p>*@
<p>
    @Html.ActionLink("Create New Record", "Create", "Admin", null, new { @class = "btn btn-success  " })
</p>


<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Alumni_fullname)*@
            <b>Full Name</b>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Alumni_Enrolmentnum)*@
            <b> Enrolment Number</b>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Alumni_email)*@
            <b>Email</b>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Alumni_cellnum)*@
            <b>Cell Number</b>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Alumni_department)*@
            <b>Department </b>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Alumni_cmsid)*@
            <b>CMS ID</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alumni_fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumni_Enrolmentnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumni_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumni_cellnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumni_department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumni_cmsid)
            </td>
            <td>
                @*@Html.ActionLink("Update", "Edit", new { id = item.Alumni_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Alumni_id }) |
                @Html.ActionLink("Delete", "Deleted", new { id = item.Alumni_id })*@
               
               
                @Html.ActionLink("Update", "Edit", new { id = item.Alumni_id  } ,new{ @class = "btn btn-info"}  )
                @Html.ActionLink("Details", "Details", new { id = item.Alumni_id }, new { @class = "btn btn-info" }) 
                @Html.ActionLink("Delete", "Deleted", new { id = item.Alumni_id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>